@import "tailwindcss";

@keyframes slideLeft {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}
.animate-slideLeft {
  animation: slideLeft 0.3s ease forwards;
}
@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/Iranian Sans Font/irsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'IRANSans', sans-serif;
}